<section class="hero">
	
	<article class="half-screen" style="background-image: url(<%= asset_path 'batman.jpg' %>)">
		
		<a href="<%= pages_batman_path %>" class="btn-go">Ir a Superheroe</a>

	</article>

	<article class="half-screen" style="background-image: url(<%= asset_path 'superman.jpg' %>)">
		
		<a href="<%= pages_superman_path %>" class="btn-go">Ir a Superheroe</a>

	</article>

</section>