<h1>Experiments#page1</h1>

<input type="hidden" id="time-counter" value="<%= @timing %>">

<h2>Segundos antes de morir <span id="count-down"></span></h2>

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed at pharetra felis. Praesent nibh ipsum, facilisis et nulla eu, efficitur iaculis enim. Suspendisse vitae mattis dolor. Nam auctor neque eget diam pretium luctus. Sed a orci id nisi cursus hendrerit blandit sed odio. Curabitur non molestie urna, varius viverra lectus. Praesent gravida malesuada quam at fermentum. Quisque consectetur lorem quis commodo faucibus. Ut nec consequat purus. Fusce imperdiet, nulla vitae consequat dignissim, velit risus porta erat, sed congue libero tortor eu elit. Nulla tempus eget elit eget lobortis. Nam id leo sit amet purus auctor varius.</p>

<p>Cras vitae lorem ut ipsum rhoncus maximus. Etiam faucibus magna non efficitur feugiat. Aliquam eleifend, dolor a efficitur molestie, felis nulla suscipit lacus, vel tristique massa ipsum et metus. Donec at mi et metus sagittis faucibus a et ipsum. Aenean vestibulum, ipsum eget porta dignissim, ligula odio convallis justo, non consequat odio nisi in lacus. Integer vestibulum accumsan velit. Proin tincidunt pulvinar mauris ac fermentum. Duis est urna, mattis id posuere nec, rutrum eget tortor. Ut faucibus commodo nisl.</p>

<p>Mauris sed sem turpis. Vivamus vehicula augue nec purus ultrices faucibus. Integer fringilla lobortis nibh. Donec at volutpat sem. Morbi a vestibulum nulla. Duis sed dolor tincidunt, consequat turpis at, rutrum nisl. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Nullam ultricies sem vitae odio egestas lobortis. In malesuada a nulla et ornare. Nam lectus nibh, interdum sed sem ac, accumsan ornare elit. Donec ac tincidunt quam.</p>
